<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" >

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>
            {{ site.title }}
        </title>
        <link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
        <link rel="stylesheet" href="github-markdown.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/res/css/style.css">
    </head>

    <body>
        {{ content }}
    </body>
</html>
